chrome_download_helper/node_modules
*~
chrome_download_helper/.sconsign.dblite
chrome_download_helper/scons
chrome_download_helper/chrome_download_helper_x86_32.nexe
chrome_download_helper/chrome_download_helper_x86_32_dbg.nexe
chrome_download_helper/chrome_download_helper_x86_64.nexe
chrome_download_helper/chrome_download_helper_x86_64_dbg.nexe
chrome_download_helper/dbg_x86_32/chrome_download_helper.o
chrome_download_helper/dbg_x86_64/chrome_download_helper.o
